@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello!</h1>
    <p>Welcome to our 750Words Journal Entry App!</p>
    <p>Navigate to _750Words in the upper left to enter into this program.</p>
    <p>Enjoy!</p>
</div>
